
html {
    background: #fff;
}

body {
    margin: 0;
    padding:    1em 3em;
    font-family:    "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    padding-bottom: 0.2em;
    border-bottom:  2px solid #fcc;
}

